// @import "lib/reset.less";            (added to critical_style.css)
// @import "lib/bootstrap-grid.less";   (added to critical_style.css)
@import "lib/font-awesome.less";

@import "lib/mixin.less";
@import "lib/animation.less";
@import "../libs/animate.css/animate.min.css";
@import "../libs/slick-carousel/slick/slick.less";
@import "../libs/slick-carousel/slick/slick-theme.less";

@import "lib/manic-dropdown.less";
@import "lib/video.less";


@black: #000000;
@white: #ffffff;

@off-black: #101010;
// @off-white: #f4f3f0;
// @off-white-2: #f6f4f0;

// @grey: #5e6366;
@grey-2: #606468;
@grey-3: #838487;

// @gold: #bdb099;
@gold-2: #8a8276;

@blue: #b8d1d9;
@blue-2: #dbe8ec;
@blue-3: #b2b2b2;
@blue-4: #b9d3d9;
@blue-5: #025eb8;



@border-grey: #86898b;
@border-grey-2: #d7d7d7;
@border-grey-3: #ccc;

///

@grey: #646569;
@gold: #b19a6e;

@off-white: #d1d2d4;
@off-white-2: #efeff0;

@header-desktop-height: 100px;
@header-tablet-height: 65px;
@header-mobile-height: 65px;
@milestones-mobile-indicator-height: 60px;
@sticky-detail-header-height: 100px;



@import "sgpool/fonts.less";
@import "sgpool/general.less";
@import "sgpool/images.less";
@import "sgpool/buttons.less";

@import "sgpool/form.less";


@import "sgpool/header_desktop.less";
@import "sgpool/header_mobile.less";

@import "sgpool/footer_desktop.less";
@import "sgpool/footer_mobile.less";




/*


@off-white: #f6f5f0;
@off-white-2: #eae8e5;
@off-black: #333333;

@grey: #6d6e71;
@grey-2: #898989;
@dark-grey: #464646;
@light-grey: #acacac;




@red: #fd3d39;



@light-brown: #dcd6cc;
@brown: #c7b299;


@border-grey: #464646;      // testing
@border-grey-2: #dcdbd9;



@desktop-header-height: 60px;
@mobile-header-height: 60px;

@laptop-multiplier: 0.9;








@import "sgpool/desktop_header.less";
@import "sgpool/mobile_header.less";

@import "sgpool/desktop_footer.less";
@import "sgpool/mobile_footer.less";

@import "sgpool/desktop_sidebar.less";
*/

/* fullPage.js plugin */
// @import "../libs/fullpage-js/jquery.fullpage.min.css";


//    ____   _    ____ _____ ____
//   |  _ \ / \  / ___| ____/ ___|
//   | |_) / _ \| |  _|  _| \___ \
//   |  __/ ___ \ |_| | |___ ___) |
//   |_| /_/   \_\____|_____|____/
//

@import "sgpool/page/page_default.less";
@import "sgpool/page/page_home.less";
@import "sgpool/page/page_milestones.less";
@import "sgpool/page/page_milestones_org.less";
@import "sgpool/page/page_events.less";
@import "sgpool/page/page_museum.less";
@import "sgpool/page/page_gallery.less";

//    _____ _____ __  __ ____  _        _  _____ _____
//   |_   _| ____|  \/  |  _ \| |      / \|_   _| ____|
//     | | |  _| | |\/| | |_) | |     / _ \ | | |  _|
//     | | | |___| |  | |  __/| |___ / ___ \| | | |___
//     |_| |_____|_|  |_|_|   |_____/_/   \_\_| |_____|
//


// FREAKISHLY LARGE SCREENS
@media only screen and (min-width: 1440px) {

}

// TABLET LANDSCAPE
.is-tablet.is-tablet-landscape{

}

// TABLET PORTRAIT
.is-tablet.is-tablet-portrait{

}

// small laptop
@media only screen and (max-width: 1280px) {
}

// TABLET LANDSCAPE & LAPTOPS
@media only screen and (max-width: 1199px) {
}


// TABLET LANDSCAPE
@media only screen and (max-width: 1024px) and (min-width: 992px) {
}

// TABLET PORTRAIT
@media only screen and (max-width: 991px) {

}

// MOBILE
@media only screen and (max-width: 767px) {

}



body.actual-mobile-version{
  
}